.teach-d-nav {
  position:sticky;
  top:0px; 
  width: 20%;
  margin-top: 90px; 
}

/* responsive */

@media screen and (min-width:300px) and (max-width:700px) {
    .teach-d-nav{
        left: -300px;
        display: none;
        transition: all 0.3s;
        width: 100%;
        gap: 10px;
        position:fixed;
        width: 100%;
        margin-top: 70px;
    }
    .action{
        left: 0;
        display: flex;
        transition: all 0.3s;
    }
}

@media screen and (min-width:700px) and (max-width:1000px) {
    .teach-d-nav{
        width: 25%;
    }
    .d-box > a{
        font-size: 15px;
    }
}