.f-choose{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.f-choose > .f-c-box{
   width: 48%;
   border: 2px solid gray;
   padding: 12px 20px;
   border-radius: 20px;
   cursor: pointer;
   position: relative;
   text-align: center;
}
.act{
    background-color: var(--sec);
   color: white;
}
.act > small{
    color: white;
}
.act{
   display: none;
}