.crl-design{
    width:120px;
    height: 120px;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgb(255, 255, 255,0.3);
}
.crl-in , .crl-in > .crl-sm-in{
    width: 50%;
    height:50%;
    border-radius: 50%;
    border: 7px solid white;
}