.userTable::-webkit-scrollbar{
    display: none;
}
.useTable{
    border: 1px solid gray;
}
.head-btn > button{
   display: flex;
   padding: 8px 15px;
   gap: 10px;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   border: 1px solid gray;
}
th{
  text-align: center;
}
tr{
  text-align: center;
}
.search > input{
  width: 100%;
}
.edit{
  top:-50px;
  right:30px;
}
.btns-cover > button{
  width: 20%;
}

@media screen and (max-width:900px) and (min-width:400px) {
    .head-btn > button{
   padding:5px 10px;
   font-size: 15px;
   gap: 5px;
}
  .icons{
    font-size: 13px;
  }
  .btns-cover{
    overflow: scroll;
  }
  .btns-cover::-webkit-scrollbar{
    display: none;
  }
  th,tr ,td{
    font-size: 10px;
    padding: 12px 0;
  }
  .t-name > p , td > span{
    font-size: 10px;
  }
 
}