.teach-main{
    width: 80% !important;
}
.teach-top-student {
    width: 30px ;
    height: 30px ;
}
.teach-top-student > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:300px) and (max-width:700px) {
    .teach-main{
        width: 100% !important;
    }
    
}